spring:
  kafka:
    bootstrap-servers: localhost:9092
    topics:
      users: users-topic

    properties:
      schema.registry.url: http://localhost:8081

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        auto.register.schemas: true

    consumer:
      group-id: my-avro-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        specific.avro.reader: true

#logging:
#  level:
#    org:
#      apache:
#        kafka: DEBUG
#      springframework:
#        kafka: DEBUG

